@model List<HotelBasicView>
@{

}
<link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
<style>
	.hotelList {
		display: flex;
		padding: 1.5em;
		width: 100%;
		flex-flow: column;
	}

	.hotel-card {
		display: flex;
		flex-flow: row;
		background: #ffffff;
		margin-bottom: 1em;
	}

	.hotel-img, .hotel-details, .h-rating {
		display: flex;
		align-items: center;
		padding: 0;
	}

	.hotel-img {
		width: 30%;
	}

	.hotel-details {
		width: 55%;
	}

	.hotel-rating {
		padding: 1em;
		width: 15%;
		flex-flow: end;
		height: fit-content;
	}
	.comment {
		font-size: 14px;
		text-align: right;
	}

	.review-count {
		font-size: 12px;
	}

	.img {
		width: 300px;
		height: 250px;
		padding-left: 1em;
		object-fit: scale-down;
	}

	.details {
		padding-left: 1em;
		border-left: 1px solid #2067A1;
	}

		.details h2 {
			font-size: 24px;
			color: #2067A1;
		}

	.rating {
		background: #2067A1;
		color: #ffffff;
		padding: 0.5em;
		border-radius: 0.25em 0.25em 0.25em 0;
	}
	.stars{
		color: #FFDF00;
	}
</style>
<div class="hotelList">
	@foreach (var hotel in @Model)
	{
		var address = hotel.Address + ", " + hotel.City + ", " + hotel.State;
		<div class="hotel-card">
			<div class="hotel-img">
				<img class="img-fluid img" src=@hotel.FeaturedImage />
			</div>
			<div class="hotel-details">
				<div class="details">
					<h2>@hotel.Name</h2>
					<p>@address</p>
					<p>@hotel.Description</p>
					<span class="stars">
						@for (int i = 1; i < hotel.Rating; i++)
						{
							<i class="fa fa-star"></i>
						}
					</span>
				</div>
			</div>
			<div class="hotel-rating pr-0">
				<div class="h-rating m-0 p-0">
					<span class="review mr-2">
						<p class="comment m-0">@hotel.Comment</p>
						<p class="review-count m-0"><em>@hotel.NumberOFRatings reviews</em></p>
					</span>
					<span class="m-0">
						<span class="rating m-0">@hotel.Rating</span>
					</span>
				</div>
			</div>
		</div>
	}
	<div class="d-flex justify-content-center">
		<nav aria-label="...">
			<ul class="pagination">
				<li class="page-item active" aria-current="page">
					<span class="page-link">1</span>
				</li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
			</ul>
		</nav>
	</div>
</div>