@model TransactionsResponseDto
@{
    ViewData["Title"] = "Transactions";
    SearchViewModel search = new SearchViewModel();
}
<div class="container-fluid mt-5 p-3">
    <div class="row">
        <div class="card">
            <div class="card-body">

                <div id="transaction mb-5">
                    <div id="search-bar-row">
                        <div class="d-sm-flex d-md-flex d-lg-flex justify-content-between flex-nowrap">
                            <div id="search-bar-row">
                                <div class="first-col">
                                    <form class="d-none d-sm-none d-sm-flex d-md-flex d-lg-flex" method="post" asp-controller="Admin" asp-action="Transactions">
                                        <img src="~/images/strawberry menu.png" style="height:20px">
                                        <div class="bg-#2067A1; px-4">
                                            <input type="text" id="searchquery" name="searchquery" asp-for="@search.SearchQuery" Placeholder="Search by Hotel">
                                            <button type="button" class="btn"><i class='bx bx-search'></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="second-third-col"></div>
                </div>
                <div id="label-row">
                    <table class="table table-striped mt-4">
                        <thead>
                            <tr>
                                <th scope="col">NAME<img src="~/images/up-down.png" style="height:20px"></th>
                                <th scope="col">SERVICE NAME</th>
                                <th scope="col">TRANSACTION REFERENCE</th>
                                <th scope="col">STATUS<img src="~/images/up-down.png" style="height:20px"></th>
                                <th scope="col">AMOUNT(&#8358)</th>
                                <th scope="col">COMMISSION(&#8358)</th>
                                <th scope="col"><img src="~/images/three dots.png" style="height:20px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var transaction in Model.data.pageItems)
                            {
                            <tr>
                                <td>@transaction.customerName</td>
                                <td>@transaction.serviceName</td>
                                <td>@transaction.bookingReference</td>
                                <td>
                                    @if(transaction.paymentStatus == "True"){
                                <button class="btn btn-primary btn-sm" style="border-radius: 15px 15px 15px 15px; border:2px solid">Active</button>
                                } else {
                                <button class="bg-white btn btn-sm" style="border-radius: 15px 15px 15px 15px; border: 1px solid; border-color:black; color:black">InActive</button>
                                }
                                </td>
                                <td style="color:red">@transaction.paymentAmount</td>
                                <td>@transaction.commission</td>
                            </tr>
                            }                           
                        </tbody>
                    </table>
                </div> <!-- END label row -->
                <div class="row">
                    <div class="col-md-2">
                        <p> Rows Per Page:10</p>
                    </div>
                    <div class="col-md-2">
                        <p>1-10 of 760</p>
                    </div>
                    <div class="col-md-1 mb-5">
                        <img src="~/images/left angle bracket.png" style="height:20px;">
                        <img src="~/images/right angle bracket.png" style="height:20px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


