@{
    var user = ViewData["LoggedInUser"] as string;
    var role = ViewData["Role"] as string;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - hotel_booking_mvc</title>
    <link href="~/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link href="@Url.Content("~/css/landingview.css")" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
    <script type="text/javascript"></script>
</head>
<body style="background: #F6FCFF;">
    <header>
        <div class="phone-nav hidden">
            <div class="phone-nav-header">
                <img src="~/images/logos_only_dark.svg" width="40" height="40" asp-area="" asp-controller="Home" asp-action="Index" />
                <button class="close">x</button>
            </div>
            <div class="phone-div">
                <ul class="phone-flex">
                    @if (user == null)
                    {
                        <li>
                            <a class="btn btn-outline-primary" asp-area="" asp-controller="Auth" asp-action="Login"
                               style=" text-decoration:none !important; background-image: linear-gradient( 135deg, rgb(24, 42, 115) 0%, rgb(33, 138, 174) 69%,
                            rgb(32, 167, 172) 89% ) !important; padding: 5px 15px !important; border-radius: 3px !important; margin: 5px !important; color:#fff !important; font-weight:900 !important;">
                                LOGIN
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="btn btn-outline-primary" asp-area="" asp-controller="@role" asp-action="Dashboard" style=" text-decoration:none !important; background-image: linear-gradient( 135deg, rgb(24, 42, 115) 0%, rgb(33, 138, 174) 69%,
                                rgb(32, 167, 172) 89% ) !important; padding: 5px 15px !important; border-radius: 3px !important; margin: 5px !important; color:#fff !important; font-weight:900 !important;">
                                DASHBOARD
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-outline-primary" asp-area="" asp-controller="Auth" asp-action="Logout"
                               style=" text-decoration:none !important; background-image: linear-gradient( 135deg, rgb(24, 42, 115) 0%, rgb(33, 138, 174) 69%,
                            rgb(32, 167, 172) 89% ) !important; padding: 5px 15px !important; border-radius: 3px !important; margin: 5px !important; color:#fff !important; font-weight:900 !important;">
                                LOGOUT
                            </a>
                        </li>
                    }
                    <li>
                        <a class="btn btn-outline-primary" asp-area="" asp-controller="Auth" asp-action="ManagerRequest"
                           style=" text-decoration: none !important; background-image: linear-gradient( 135deg, rgb(24, 42, 115) 0%, rgb(32, 167, 172) 89%, rgb(33, 138, 174) 69%) !important; padding: 5px 15px !important; border-radius: 3px !important; margin: 5px !important; color: #fff !important; font-weight: 900 !important; ">
                            BE A MANAGER
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="container-fluid">
            <nav class="navbar">
                <img src="~/images/logos_only_dark.svg" width="40" height="40" style="padding:3px;" asp-area="" asp-controller="Home" asp-action="Index" />
                <ul class="flex align-content-between">
                    @if (user == null)
                    {
                        <li>
                            <a class="btn btn-outline-primary" asp-area="" asp-controller="Auth" asp-action="Login"
                               style=" text-decoration:none !important; background-image: linear-gradient( 135deg, rgb(24, 42, 115) 0%, rgb(33, 138, 174) 69%,
                            rgb(32, 167, 172) 89% ) !important; padding: 5px 15px !important; border-radius: 3px !important; margin: 5px !important; color:#fff !important; font-weight:900 !important;">
                                LOGIN
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="btn btn-outline-primary" asp-area="" asp-controller="@role" asp-action="Dashboard"
                                style=" text-decoration:none !important; background-image: linear-gradient( 135deg, rgb(24, 42, 115) 0%, rgb(33, 138, 174) 69%,
                                rgb(32, 167, 172) 89% ) !important; padding: 5px 15px !important; border-radius: 3px !important; margin: 5px !important; color:#fff !important; font-weight:900 !important;">
                                DASHBOARD
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-outline-primary" asp-area="" asp-controller="Auth" asp-action="Logout"
                               style=" text-decoration:none !important; background-image: linear-gradient( 135deg, rgb(24, 42, 115) 0%, rgb(33, 138, 174) 69%,
                            rgb(32, 167, 172) 89% ) !important; padding: 5px 15px !important; border-radius: 3px !important; margin: 5px !important; color:#fff !important; font-weight:900 !important;">
                                LOGOUT
                            </a>
                        </li>
                    }
                    <li>
                        <a class="btn btn-outline-primary" asp-area="" asp-controller="Auth" asp-action="ManagerRequest"
                           style=" text-decoration: none !important; background-image: linear-gradient( 135deg, rgb(24, 42, 115) 0%, rgb(32, 167, 172) 89%, rgb(33, 138, 174) 69%) !important; padding: 5px 15px !important; border-radius: 3px !important; margin: 5px !important; color: #fff !important; font-weight: 900 !important; ">
                            BE A MANAGER
                        </a>
                    </li>

                </ul>
                <button class="nav-button">&#9776</button>
            </nav>
        </div>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="footer" id="footer" style="transition: .5s;">
        <p class="footer-paragraph">&#9400; 2021 Decagon Headquarters. All Rights Reserved.</p>
        <ul class="footer-list">
            <li><a class="one-with-bar" href="#">Terms & Conditions</a></li>
            <li><a class="one-with-bar" href="#">Privacy Policy</a></li>
            <li><a class="one-with-bar" href="#">Sitemap</a></li>
            <li><a href="#">Disclaimer</a></li>
        </ul>
    </div>
</body>
</html>
