@model EditManagerViewModel
@*@{ var manager = ViewData["Manager"] as EditManagerViewModel;}*@

<div class="container">
    <div class="row d-flex justify-content-center align-items-center mt-5">
        <div class="col-sm-12 col-md-8 col-lg-8">
            <div class="card w-100 m-5 bg-white">
                @using (Html.BeginForm("Account", "Manager", FormMethod.Post, new { novalidate = "true", @class = "needs-validation" }))
                {
                    <div class="bg-white m-5">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group mb-2">

                                    @Html.TextBoxFor(x => x.FirstName, new { @Value = Model.FirstName, @class = "form-control has-validation", @placeholder = "First Name", @required = "required" })

                                    @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "badge bg-danger" })


                                    @if (ViewBag.error != null)

                                    {

                                        <span class="badge bg-danger">@ViewBag.error</span>

                                    }
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group mb-2">

                                    @Html.TextBoxFor(x => x.LastName, new { @Value = Model.LastName, @class = "form-control has-validation", @placeholder = "Last Name", @required = "required" })

                                    @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "badge bg-danger" })

                                    @if (ViewBag.error != null)

                                    {

                                        <span class="badge bg-danger">@ViewBag.error</span>

                                    }
                                </div>

                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group mb-2">

                                    @Html.TextBoxFor(x => x.ManagerPhone, new { @Value = Model.ManagerPhone, @class = "form-control has-validation", @placeholder = "Enter Manager Phone", @required = "required", @type = "text", @value = "" })

                                    @Html.ValidationMessageFor(m => m.ManagerPhone, "", new { @class = "badge bg-danger" })

                                    @if (ViewBag.error != null)

                                    {

                                        <span class="badge bg-danger">@ViewBag.error</span>

                                    } 
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group mb-2">

                                    @Html.TextBoxFor(x => x.Age, new { @Value = Model.Age, @class = "form-control has-validation", @placeholder = "Enter Age", @required = "required", @type = "text", @value = "" })

                                    @Html.ValidationMessageFor(m => m.Age, "", new { @class = "badge bg-danger" })

                                    @if (ViewBag.error != null)

                                    {

                                        <span class="badge bg-danger">@ViewBag.error</span>

                                    }
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group mb-2">

                                    @Html.TextBoxFor(x => x.CompanyName, new { @Value = Model.CompanyName, @class = "form-control has-validation", @placeholder = "Enter CompanyName", @required = "required", @type = "text", @value = "" })

                                    @Html.ValidationMessageFor(m => m.CompanyName, "", new { @class = "badge bg-danger" })

                                    @if (ViewBag.error != null)

                                    {

                                        <span class="badge bg-danger">@ViewBag.error</span>

                                    }
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group mb-2">

                                    @Html.TextBoxFor(x => x.BusinessEmail, new { @Value = Model.BusinessEmail, @class = "form-control has-validation", @placeholder = "Enter BusinessEmail", @required = "required", @type = "text", @value = "" })

                                    @Html.ValidationMessageFor(m => m.BusinessEmail, "", new { @class = "badge bg-danger" })

                                    @if (ViewBag.error != null)

                                    {

                                        <span class="badge bg-danger">@ViewBag.error</span>

                                    }
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">


                                <div class="form-group mb-2">

                                    @Html.TextBoxFor(x => x.BusinessPhone, new { @Value = Model.BusinessPhone, @class = "form-control has-validation", @placeholder = "Enter BusinessPhone", @required = "required", @type = "text", @value = "" })

                                    @Html.ValidationMessageFor(m => m.BusinessPhone, "", new { @class = "badge bg-danger" })

                                    @if (ViewBag.error != null)

                                    {

                                        <span class="badge bg-danger">@ViewBag.error</span>

                                    }
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">

                                <div class="form-group mb-2">

                                    @Html.TextBoxFor(x => x.CompanyAddress, new { @Value = Model.CompanyAddress, @class = "form-control has-validation", @placeholder = "Enter CompanyAddress", @required = "required", @type = "text", @value = "" })

                                    @Html.ValidationMessageFor(m => m.CompanyAddress, "", new { @class = "badge bg-danger" })

                                    @if (ViewBag.error != null)

                                    {

                                        <span class="badge bg-danger">@ViewBag.error</span>

                                    }
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group mb-2">

                                    @Html.TextBoxFor(x => x.State, new { @Value = Model.State, @class = "form-control has-validation", @placeholder = "Enter State", @required = "required", @type = "text", @value = "" })

                                    @Html.ValidationMessageFor(m => m.State, "", new { @class = "badge bg-danger" })

                                    @if (ViewBag.error != null)

                                    {

                                        <span class="badge bg-danger">@ViewBag.error</span>

                                    }
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">

                                <div class="form-group mb-2">

                                    @Html.TextBoxFor(x => x.AccountName, new { @Value = Model.AccountName, @class = "form-control has-validation", @placeholder = "Enter AccountName", @required = "required", @type = "text", @value = "" })

                                    @Html.ValidationMessageFor(m => m.AccountName, "", new { @class = "badge bg-danger" })

                                    @if (ViewBag.error != null)

                                    {

                                        <span class="badge bg-danger">@ViewBag.error</span>

                                    }
                                </div>

                            </div>

                            <div class="col-sm-12 col-md-6">
                                <div class="form-group mb-2">

                                    @Html.TextBoxFor(x => x.AccountNumber, new { @Value = Model.AccountNumber, @class = "form-control has-validation", @placeholder = "Enter AccountNumber", @required = "required", @type = "text", @value = "" })

                                    @Html.ValidationMessageFor(m => m.AccountNumber, "", new { @class = "badge bg-danger" })

                                    @if (ViewBag.error != null)

                                    {

                                        <span class="badge bg-danger">@ViewBag.error</span>

                                    }
                                </div>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-sm-6 d-flex justify-content-center align-content-center">
                                <div class="form-group mt-3">
                                    <input type="submit" value="Save" class="btn btn-primary form-control btn-block w-100" />
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>