@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model PaginationResponse<IEnumerable<ManagerBookingDto>>
@{
	ViewData["Title"] = "Bookings";
}
<style>
	.page-link {
		color: #2067A1;
	}

	.page-link:hover {
		color: #2067A1;
	}

	.active{
		color: #ffffff;
		background: #2067A1;
	}

	.active:hover{
		color: #ffffff;
		background: #2067A1;
	}

</style>
<div class="container">
	<div class="row">
		<div class="col">
			<div class="py-2 border-bottom my-3">
				<h1 class="fs-3">Bookings</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<table class="table table-striped table-bordered shadow rounded">
				<thead class="text-muted rounded-top">
					<tr class="rounded-top">
						<th scope="col">CUSTOMER NAME</th>
						<th scope="col">HOTEL</th>
						<th scope="col">SERVICE</th>
						<th scope="col">CHECKED IN</th>
						<th scope="col">CHECKED OUT</th>
					</tr>
				</thead>

				<tbody>
					@{
						foreach (var booking in Model.PageItems)
						{

							<tr>
								<td>@booking.CustomerName</td>
								<td>@booking.Hotel</td>
								<td>@booking.Service</td>
								<td>@booking.CheckedIn.ToShortDateString()</td>
								<td>@booking.CheckedOut.ToShortDateString()</td>
							</tr>
						}
					}
				</tbody>
			</table>
		</div>
		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center">
				@{
					for (var i = 1; i <= @Model.NumberOfPages; i++)
					{
						if (Model.CurrentPage == i)
						{
							<li class="page-item"><a class="page-link active" id="pageButton" asp-route-pageNumber=@i>@i <span class="sr-only">(current)</span></a></li>
						}
						else
						{
							<li class="page-item"><a class="page-link" id="pageButton" asp-route-pageNumber=@i>@i</a></li>
						}
					}
				}
			</ul>
		</nav>
	</div>
</div>