
@model hotel_booking_model.Dtos.AuthenticationDtos.UpdatePasswordDto
@{ ViewData["Title"] = "Change Password";
}
<div class="mx-auto my-auto content-area mt-4">
    <p class="text-center recovery-instruction">
        Choose a new password.
    </p>
    @using (Html.BeginForm("ChangePassword", "Manager", FormMethod.Post, new { novalidate = "true", @class = "needs-validation" }))
    {
        <div class="bg-white m-5">
           
            <div class="form-group mb-2">
                @Html.TextBoxFor(x => x.OldPassword, new { @class = "form-control has-validation", @placeholder = "Current Password", @required = "required", @type = "password", @value = "" })
                @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "badge bg-danger" })
                @if (ViewBag.error != null)
                {
                    <span class="badge bg-danger">@ViewBag.error</span>
                }
            </div>
            <div class="form-group mb-2">
                @Html.TextBoxFor(x => x.NewPassword, new { @class = "form-control has-validation", @placeholder = "New Password", @required = "required", @type = "password", @value = "" })
                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "badge bg-danger" })
                @if (ViewBag.error != null)
                {
                    <span class="badge bg-danger">@ViewBag.error</span>
                }
            </div>
            <div class="form-group mb-2">
                @Html.TextBoxFor(x => x.ConfirmNewPassword, new { @class = "form-control has-validation", @placeholder = "Confirm Password", @required = "required", @type = "password", @value = "" })
                @Html.ValidationMessageFor(m => m.ConfirmNewPassword, "", new { @class = "badge bg-danger" })
                @if (ViewBag.error != null)
                {
                    <span class="badge bg-danger">@ViewBag.error</span>
                }
            </div>
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary w-100">Change Password</button>
            </div>
            <p class="text-center recovery-instruction mt-4">@ViewBag.Data</p>
        </div>
    }

</div>



