@model IEnumerable<HotelBasicView>
@{
    ViewData["Title"] = "Hotels";
}


<style>
    .my-color {
        background-color: #2067A1 !important;
    }
</style>

<div class="hotelList">
    <div class="w-100">
        <div class="row p-3" style="background-color: #F6FCFF; border-bottom: 1px solid #aaa;">
            <div class="col">
                <h2 style="color: #173752;">Listing</h2>
            </div>
            
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 d-flex justify-content-end">
            <div class="d-flex justify-content-end">
                <!-- Click on Modal Button -->
                <button type="button" class="btn btn-primary mx-auto d-block mt-5 my-color" data-bs-toggle="modal" data-bs-target="#modalForm">
                    Add a Hotel
                </button>

            </div>

        </div>
    </div>
    @foreach (var hotel in Model)
    {
        var address = hotel.Address + ", " + hotel.City + ", " + hotel.State;
        <a class="hotel-card d-flex row" asp-action="HotelDetails" asp-controller="Manager" asp-route-hotelId=@hotel.Id>
            <div class="col-sm-12 col-md-3 hotel-img">
                <img class="img img-fluid rounded-start" src=@hotel.FeaturedImage />
            </div>
            <div class="hotel-details col-sm-12 col-md-7">
                <div class="details">
                    <h2>@hotel.Name</h2>
                    <p>@address</p>
                    <p>@hotel.Description</p>
                    <span class="stars">
                        @for (int i = 1; i <= 5; i++)
                        {
                            if (i <= hotel.Rating)
                            {
                                <i class="fa fa-star"></i>
                            }
                            else if (i > hotel.Rating && (hotel.Rating % 1) > 0 && i == ((int)hotel.Rating + 1))
                            {
                                <i class="fas fa-star-half-alt star-color mr-1"></i>
                            }
                            else
                            {
                                <i class="far fa-star star-color mr-1"></i>
                            }
                        }
                    </span>
                </div>
            </div>
            <div class="hotel-rating pr-0 col-sm-12 col-md-2">
                <div class="h-rating m-0 p-0">
                    <span class="review">
                        <p class="comment m-0">@hotel.Comment</p>
                        <p class="review-count m-0"><em>@hotel.NumberOfReviews reviews</em></p>
                    </span>
                    <span class="rating m-0">
                        <span>@hotel.Rating</span>
                    </span>
                </div>
            </div>
        </a>
    }
</div>

<!-- Modal -->
<div class="modal fade" id="modalForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add a Hotel</h5>
                <button type="button" class="btn-close my-color" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">


                <form>

                    <div class="mb-3">

                        <input class="form-control" type="file" id="formFile" name="Add Hotel Photos" multiple>
                    </div>

                    <div class="mb-3">

                        <input type="text" class="form-control" id="Hotel Name" name="Hotel Name" placeholder="Hotel Name" />

                    </div>
                    <div class="mb-3">
                        <div>
                            <input type="text" class="form-control" id="Street Address" name="Street Address" placeholder="Street Address" />

                        </div>

                    </div>
                    <div class="mb-3">

                        <input type="text" class="form-control" id="City" name="City" placeholder="City" />
                    </div>
                    <div class="mb-3">

                        <input type="text" class="form-control" id="State" name="State" placeholder="State" />
                    </div>

                    <div class="mb-3">

                        <div class="form-outline">
                            <textarea class="form-control" id="textAreaExample" name="Description" placeholder="Hotel Description" rows="4"></textarea>
                        </div>
                    </div>

                    <div class="mb-3">

                        <input type="text" class="form-control" id="Date Hotel Created" name="Date Hotel Created" placeholder="Date Hotel Created" />
                    </div>

                    <div class="mb-3">
                        <div>
                            <input type="text" class="form-control" id="Hotel Type" name="Hotel Type" placeholder="Hotel Type" />
                        </div>

                    </div>

                    <div class="mb-3 form-check">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary my-color">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

