@model hotel_booking_model.SignupModel


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@




<div class="container-fluid m-0 p-0">
    <div class="row p-0 m-0 ">
        <div class="col-lg-5 col-md-5 d-none d-sm-none d-sm-flex d-md-flex d-lg-flex m-0 p-0">
            <img src="~/images/SignUp.jpg" alt="signup" class="img-fluid" />
        </div>

        <div class="col-sm-12 col-lg-7 mt-sm-4">

            <div class="container">
                <div class="row mx-auto justify-content-center mt-4">
                    <div class="col-sm-12 col-lg-6">
                        <div class="card bg-white">
                            <div class="card-body">
                                @using (Html.BeginForm("Signup", "Auth", FormMethod.Post, new { novalidate = "true", @class = "needs-validation" }))
                                {
                                    



                                    <div class="form-group mb-2">

                                        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control has-validation", @placeholder = "First Name", @required = "required" })

                                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "badge bg-danger" })

                                        @if (ViewBag.error != null)

                                        {

                                            <span class="badge bg-danger">@ViewBag.error</span>

                                        }
                                    </div>
                                    <div class="form-group mb-2">

                                        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control has-validation", @placeholder = "Last Name", @required = "required" })

                                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "badge bg-danger" })

                                        @if (ViewBag.error != null)

                                        {

                                            <span class="badge bg-danger">@ViewBag.error</span>

                                        }
                                    </div>
                                    


                                    <div class="form-group mb-2">

                                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control has-validation", @placeholder = "Email", @required = "required" })

                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "badge bg-danger" })

                                        @if (ViewBag.error != null)

                                        {

                                            <span class="badge bg-danger">@ViewBag.error</span>

                                        }
                                    </div>
                                    <div class="form-group mb-2">

                                        @Html.TextBoxFor(x => x.Password, new { @class = "form-control has-validation", @placeholder = "Password", @required = "required" })

                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "badge bg-danger" })

                                        @if (ViewBag.error != null)

                                        {

                                            <span class="badge bg-danger">@ViewBag.error</span>

                                        }
                                    </div>



                                    <div class="form-group">
                                        <input type="submit" value="signup" class="btn btn-primary form-control btn-block" />
                                    </div>
                                }
                                @*<form method="post" asp-action="">*@

                                @*</form>*@
                                <div class="form-group m-4">
                                    <a href="" p-2>Already Have an account?</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


